{% extends 'base.html.twig' %}

{% block title %}Enchere VIP : Acheter vos jetons{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/jeton.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
<body class="p-3 mb-2 bg-info text-white">
<nav>
  <a href="/" id="logojeton"><img src="../images/logo.png" title="Accueil" alt="Tahiti" id="jeton-logo"></a>
  <a href="/" id="logojeton2"><img src="../images/logo.png" title="Accueil" alt="Tahiti" id="jeton-logo2"></a>
</nav>
<h1 class="p-3 mb-2 bg-dark text-white rounded-pill">Boutique de jeton</h1>
<div id="tab-entier" class="p-3 mb-2 bg-warning text-dark border border-success rounded-lg">

	<form action="{{ path('utilisateur_acheter') }}" method="POST">
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Description</th>
                <th>Prix</th>
                <th>Nombre jetons</th>
                <th>choix</th>
            </tr>
        </thead>
        <tbody>
		{% for pack_jeton in pack_jetons %}
            <tr>
                <td>{{ pack_jeton.description }}</td>
                <td>{{ pack_jeton.prix }}€</td>
                <td>{{ pack_jeton.nbjetons }}</td>
                <td>
                    <input type="radio" name="choix_id_jetons" value="{{ pack_jeton.id }}" class="btn btn-outline-primary">
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<input type="submit" value="ACHETER" class="btn btn-outline-primary">
	</form>
	{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready( function () {
		$('#myTable').DataTable();
		} );
	</script>
	{% endblock %}
</div>
</body>
{% endblock %}
